@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body {
  background: #f9fafb;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
  transition: 2s;
  -webkit-transition: 2s;
}

text {
  cursor: pointer;
  cursor: hand;
}

text:hover {
  opacity: 0.7;
}


