@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background: #f9fafb;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

text {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  cursor: pointer;
  cursor: hand;
}

text:hover {
  opacity: 0.7;
  transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > *, header, footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

main {
  display: flex;
  flex-basis: 100vw;
}

header, footer {
  flex-basis: 100px;
}


@media all and (max-width: 640px) {
  main {
    flex-direction: column;
    flex-grow: 1;
  }

  header, footer {
    flex-basis: 50px;
  }
}
